.wrapper {
  width: 100vw;
  background: #ffffff;
}

.navigation {
  position: static;
  margin-left: 0vw;
  margin-right: 6.5104166667vw;
  margin-top: 5.46875vw;
  display: flex;
  margin-bottom: 8.0729166667vw;
  justify-content: flex-end;
}
.navigation_mobile {
  display: none;
}
.navigation_menu {
  width: 48.6979166667vw;
  font-size: 2.34375vw;
  line-height: 3.125vw;
  color: #000000;
  display: flex;
  justify-content: space-between;
}
.navigation_menu a:hover {
  opacity: 0.6;
}

.header {
  height: 36.9791666667vw;
  width: 78.125vw;
  margin-left: 14.7135416667vw;
  position: relative;
  z-index: 2;
}
.header_left {
  height: 36.9791666667vw;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header_left form {
  width: 34.375vw;
}
.header_right {
  height: 100%;
  display: none;
}
.header_right_image {
  display: none;
}
.header_logo {
  position: absolute;
  left: -11.328125vw;
  top: -13.0208333333vw;
  height: 6.7708333333vw;
  width: 22.65625vw;
}
.header_logo img {
  width: 100%;
  height: 100%;
}

.head_title {
  position: static;
  width: 42.96875vw;
  height: 15.625vw;
  font-size: 7.8125vw;
  line-height: 7.8125vw;
  color: #000000;
}
.head_subtitle {
  position: static;
  width: 36.8489583333vw;
  height: 8.3333333333vw;
  line-height: 140%;
  font-size: 2.6041666667vw;
}
.head_button {
  position: static;
  padding: 1.8229166667vw 3.3854166667vw;
  gap: 0.5208333333vw;
  width: 34.375vw;
  height: 7.03125vw;
  font-size: 2.6041666667vw;
  z-index: 2;
}
.head_button:hover {
  background: #4b8825;
}

.main_img {
  position: absolute;
  width: 66.2760416667vw;
  height: 53.2552083333vw;
  left: 5.2083333333vw;
  top: 26.0416666667vw;
  z-index: -1;
}
.main_img img {
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 46.3541666667vw 3.90625vw 0vw 3.90625vw;
  perspective: 130.2083333333vw;
  height: 100.78125vw;
}
.cards_wrapper {
  position: relative;
  transform-style: preserve-3d;
  transition-duration: 1s;
}
.cards_wrapper:hover .cards_item_front, .cards_wrapper:hover .cards_link {
  z-index: -1;
  background-color: #F2F2F2;
}
.cards_wrapper_clicked {
  transform: rotateY(180deg);
}
.cards_wrapper_clicked .cards_item_front {
  z-index: -1;
}
.cards_item_front {
  width: 100%;
  height: 48.4375vw;
  background: #F2F2F2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.cards_item_back {
  position: absolute;
  left: -6.5104166667vw;
  top: 0;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.cards_item_back img {
  float: center;
  height: 100%;
}
.cards_header {
  font-weight: 400;
  font-size: 4.6875vw;
  line-height: 4.6875vw;
  text-transform: uppercase;
  color: #000000;
}
.cards_text {
  margin-left: 6.7708333333vw;
  margin-right: 6.7708333333vw;
  font-family: "Arial";
  font-weight: 400;
  font-size: 2.0833333333vw;
  line-height: 3.125vw;
}
.cards_link {
  margin-top: 2.9947916667vw;
  margin-left: 6.7708333333vw;
  margin-bottom: 7.1614583333vw;
  width: 21.09375vw;
  font-weight: 400;
  font-size: 2.6041666667vw;
  line-height: 3.90625vw;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}
.cards_link::after {
  content: "";
  background: url(../img/icon.png) no-repeat;
  background-size: cover;
  width: 3.125vw;
  height: 1.5625vw;
  display: inline-block;
  position: absolute;
  top: 1.4322916667vw;
  left: 16.40625vw;
}
.cards_img {
  margin: 5.7291666667vw 8.0729166667vw 5.078125vw 6.7708333333vw;
}
.cards .img_slim {
  width: 13.0208333333vw;
  height: 13.8020833333vw;
}
.cards .img_pro {
  width: 17.4479166667vw;
  height: 13.0208333333vw;
}

.instructions_header {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 7.8125vw;
  line-height: 7.8125vw;
  text-align: left;
  margin: 7.1614583333vw 0 9.375vw 3.90625vw;
}
.instructions_wrapper {
  margin: 0 3.90625vw 0 3.90625vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.instructions_item {
  width: 35.15625vw;
  height: 39.0625vw;
  position: relative;
  z-index: 2;
}
.instructions_image {
  width: 10.4166666667vw;
  height: 10.4166666667vw;
  margin-bottom: 4.0364583333vw;
}
.instructions_image img {
  width: 100%;
  height: 100%;
}
.instructions_text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 2.34375vw;
  padding-right: 1.3020833333vw;
  line-height: 3.125vw;
  color: #444444;
  z-index: 3;
}
.instructions_number {
  color: #F2F2F2;
  font-size: 36.4583333333vw;
  line-height: 36.4583333333vw;
  position: absolute;
  right: 0;
  bottom: 3.90625vw;
  margin-bottom: 1.4322916667vw;
  z-index: -1;
}

.example {
  display: flex;
  justify-content: space-between;
  margin: 0 3.90625vw 0 3.90625vw;
  height: 85.4166666667vw;
  position: relative;
  flex-wrap: wrap;
}
.example_text {
  z-index: 3;
}
.example_text_header {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 7.8125vw;
  line-height: 7.8125vw;
  margin-bottom: 8.203125vw;
  margin-top: 4.9479166667vw;
}
.example_text_explanation {
  font-family: "Arial";
  font-weight: 400;
  font-size: 2.0833333333vw;
  line-height: 3.125vw;
  color: #444444;
}
.example_text_explanation_story {
  margin-bottom: 7.03125vw;
  padding-right: 0vw;
}
.example_text_explanation_table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 89.3229166667vw;
  position: relative;
  z-index: 2;
}
.example_text_explanation_table_cell1 {
  order: 1;
}
.example_text_explanation_table_cell2 {
  order: 2;
}
.example_text_explanation_table_cell3 {
  order: 5;
}
.example_text_explanation_table_cell4 {
  order: 6;
}
.example_text_explanation_table_cell5 {
  order: 3;
  text-align: right;
  width: 34.1145833333vw;
}
.example_text_explanation_table_cell6 {
  order: 4;
  text-align: left;
  width: 8.0729166667vw;
}
.example_text_explanation_table_cell1, .example_text_explanation_table_cell2 {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 3.90625vw;
  line-height: 7.421875vw;
  text-align: center;
  color: #000000;
  border: 1px solid #CDCDCD;
  width: 21.09375vw;
  height: 10.0260416667vw;
  width: 21.09375vw;
}
.example_text_explanation_table_cell3, .example_text_explanation_table_cell4 {
  font-family: "Arial";
  font-weight: 400;
  font-size: 2.0833333333vw;
  line-height: 2.0833333333vw;
  text-align: center;
  color: #444444;
  background-color: #FFFFFF;
  padding: 0 0.390625vw;
}
.example_text_explanation_table_cell3 {
  position: absolute;
  top: 8.8541666667vw;
  left: 5.3385416667vw;
  background-color: #ffffff;
}
.example_text_explanation_table_cell4 {
  position: absolute;
  top: 8.8541666667vw;
  left: 28.125vw;
  background-color: #ffffff;
}
.example_text_explanation_table_cell5, .example_text_explanation_table_cell6 {
  margin-top: 3.2552083333vw;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 3.2552083333vw;
  line-height: 3.2552083333vw;
  text-transform: uppercase;
  color: #000000;
}
.example_picture {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  margin-top: 7.6822916667vw;
}
.example_picture_cat {
  width: 86.9791666667vw;
  height: 69.7916666667vw;
  z-index: 2;
  display: flex;
  position: relative;
}
.example_picture_cat1, .example_picture_cat2 {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
}
.example_picture_cat1 img, .example_picture_cat2 img {
  width: 100%;
  height: 100%;
}
.example_picture .hidden_cat {
  opacity: 0;
  transition-duration: 4s;
}
.example_picture .unhidden_cat {
  opacity: 1;
  transition-duration: 4s;
}
.example_picture_scroll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7.1614583333vw;
}
.example_picture_scroll_line {
  background: #ffffff;
  width: 55.7291666667vw;
  height: 4.4270833333vw;
  border-radius: 2.2135416667vw;
  position: relative;
  border-color: #CDCDCD;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.example_picture_scroll_line_before, .example_picture_scroll_line_after {
  border-radius: 1.5625vw;
  width: 26.0416666667vw;
  height: 3.125vw;
}
.example_picture_scroll .scroll_active {
  background: #68B738;
  transition-duration: 2s;
}
.example_picture_scroll_text {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 2.6041666667vw;
  line-height: 3.90625vw;
  text-transform: uppercase;
  margin: 0 1.3020833333vw;
  z-index: 2;
}
.example_background {
  background: #EAEAEA;
  width: 100vw;
  height: 60.15625vw;
  position: absolute;
  bottom: -52.0833333333vw;
  right: 0vw;
  left: -3.90625vw;
  z-index: 1;
}

.location {
  margin-top: 52.0833333333vw;
  height: 50.390625vw;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.location_pin {
  position: absolute;
  top: 22.1354166667vw;
  left: 42.96875vw;
  width: 14.7135416667vw;
  height: 13.8020833333vw;
}
.location_message {
  text-transform: uppercase;
  background: #FFFFFF;
  color: #111111;
  padding-left: 0vw;
  opacity: 1;
  order: 1;
  position: static;
  width: 100vw;
  height: 19.53125vw;
  gap: 38.4114583333vw;
  display: flex;
  justify-content: space-between;
}
.location_message_1 {
  font-size: 2.6041666667vw;
  line-height: 3.90625vw;
  text-transform: uppercase;
  padding-left: 9.2447916667vw;
  font-family: "Oswald";
  font-weight: 400;
}
.location_message_2 {
  font-family: Arial;
  font-size: 2.0833333333vw;
  line-height: 2.6041666667vw;
  padding-right: 9.2447916667vw;
}
.location iframe {
  width: 100%;
  height: 51.171875vw;
  order: 2;
}
.location .hidden_pin {
  display: none;
}
.location .unhidden_pin {
  display: block;
}

.footer {
  width: 100%;
  height: 19.4010416667vw;
  background: #F2F2F2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_logo {
  width: 16.6666666667vw;
  height: 3.125vw;
  margin-left: 3.90625vw;
}
.footer_logo img {
  width: 100%;
  height: 100%;
}
.footer_sm {
  width: 16.796875vw;
  height: 4.296875vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_sm_f {
  width: 3.6458333333vw;
  height: 4.296875vw;
}
.footer_sm_i {
  width: 2.9947916667vw;
  height: 2.9947916667vw;
}
.footer_sm_v {
  width: 3.90625vw;
  height: 2.8645833333vw;
}
.footer_signature {
  font-family: "Arial";
  font-weight: 400;
  font-size: 1.8229166667vw;
  line-height: 2.0833333333vw;
  color: #444444;
  margin-right: 3.90625vw;
  width: 25%;
}
.footer a {
  text-decoration: underline;
}

img {
  width: auto;
  height: auto;
}/*# sourceMappingURL=StyleTablet.css.map */