@use "sass:math";

@function adapt($px) {
    $result1: math.div($px, 768) * 100;
    $result2: $result1 + vw;
    @return $result2;
};

.wrapper{
    // position: relative;
    width: adapt(768);
    background: #ffffff;
}

.navigation{
    position: static;
    margin-left: adapt(0);
    margin-right: adapt(50);
    margin-top: adapt(42);
    display: flex;
    margin-bottom: adapt(62);
    justify-content: flex-end;    
    
    &_menu{
        width: adapt(374);
        font-size: adapt(18);
        line-height: adapt(24);
        color: #000000;
        display: flex;
        justify-content: space-between;

        & a:hover{
            opacity: 0.6;
        }
    }
}


.header {
    height: adapt(284);
    width: adapt(600);
    // width: 100%;
    margin-left: adapt(113);
    position: relative;
    z-index: 2;

    &_left {
        height: adapt(284);
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        form{
            width: adapt(264);
        }
    }

    &_right {
        height: 100%;
        display: none;

        &_image{
            display: none;
        }
    }

    &_logo {
        position: absolute;
        left: adapt(-87);
        top: adapt(-100);
        height: adapt(52);
        width: adapt(174);

        img{
            width: 100%;
            height: 100%;
        }
     }
}

.head {

    &_title {
        position: static;
        width: adapt(330);
        height: adapt(120);
        // position: absolute;
        // left: adapt(190);
        // top: adapt(223);
        // font-family: 'Oswald';
        // font-style: normal;
        // font-weight: 400;
        font-size: adapt(60);
        line-height: adapt(60);
        color: #000000;
    }

    &_subtitle {
        position: static;
        width: adapt(283);
        height: adapt(64);
        line-height: 140%;
        // position: absolute;
        // left: adapt(190);
        // top: adapt(373);
        // min-height: adapt(60);
        // font-family: 'Oswald';
        // font-style: normal;
        // font-weight: 400;
        font-size: adapt(20);
        // text-transform: uppercase;
        // color: #000000;
    }

    &_button {
        position: static;
        padding: adapt(14) adapt(26);
        gap: adapt(4);
        // position: absolute;
        width: adapt(264);
        height: adapt(54);
        // left: adapt(190);
        // top: adapt(455);
        // text-transform: uppercase;
        // background: #68B738;
        // font-family: 'Oswald';
        // font-style: normal;
        // font-weight: 400;
        font-size: adapt(20);
        // color: #FFFFFF;
        z-index: 2;

    }

    &_button:hover{
        background: #4b8825;
    }

}
.main {

    &_img {
        position: absolute;
        width: adapt(509);
        height: adapt(409);
        left: adapt(20);
        top: adapt(200);
        z-index: -1;

        img{
            width: 100%;
            height: 100%;
        }
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: adapt(426) adapt(49) adapt(0) adapt(30);
    perspective: adapt(1000);
    height: adapt(774);

     &_wrapper{
        position: relative;
        transform-style: preserve-3d;
        transition-duration: 1s;
        
        &:hover{
            transform: rotateY(180deg);
            .cards_item_front{
                z-index: -1;
            }
        }
    }

    &_item_front {
        width: 100%;
        height: adapt(372);
        background: #F2F2F2;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        backface-visibility: hidden;
    }

    &_item_back{
        position: absolute;
        left: adapt(-50);
        top: 0;
        width: 100%;
        height: 100%;
        transform: rotateY(180deg);
        backface-visibility: hidden;

        img{
            float: center;
        }
    }

    &_header {
        font-weight: 400;
        font-size: adapt(36);
        line-height: adapt(36);
        text-transform: uppercase;
        color: #000000;
    }

    &_text {
        margin-left: adapt(52);
        margin-right: adapt(52);
        font-family: 'Arial';
        font-weight: 400;
        font-size: adapt(16);
        line-height: adapt(24);
    }

    &_link {
        margin-top: adapt(23);
        margin-left: adapt(52);
        margin-bottom: adapt(55);
        width: adapt(162);
        font-weight: 400;
        font-size: adapt(20);
        line-height: adapt(30);     
        text-align: left;
        text-transform: uppercase;
        color: #000000;
        position: relative;

        &::after{
            content: '';
            background: url(../img/icon.png) no-repeat;
            background-size: cover;
            width: adapt(24);
            height: adapt(12);
            display: inline-block;
            position: absolute;
            top: adapt(11);
            left: adapt(126);
        }
    }

    &_img{
        margin: adapt(44) adapt(62) adapt(39) adapt(52);
        // object-position: 50% 50%;
    }

    .img_slim{
        width: adapt(100);
        height: adapt(106);
    }

    .img_pro{
        width: adapt(134);
        height: adapt(100);
    }
}

.instructions {

    &_header {
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 400;
        font-size: adapt(60);
        line-height: adapt(60);
        text-align: left; 
        margin: adapt(55) 0 adapt(72) adapt(30);
    }

    &_wrapper {
        margin: 0 adapt(50) 0 adapt(30);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &_item {
        width: adapt(270);
        height: adapt(300);
        position: relative;
        z-index: 2;
    }

    &_image {
        width: adapt(80);
        height: adapt(80);
        margin-bottom: adapt(31);
    }

    &_text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: adapt(18);
        padding-right: adapt(10);
        line-height: adapt(24);
        color: #444444;
        z-index: 3;
    }

    &_number {
        color: #F2F2F2;
        font-size: adapt(280);
        line-height: adapt(280);
        position: absolute;
        right: 0;
        bottom: adapt(30);
        margin-bottom: adapt(11);
        z-index: -1;
    }
}

.example {
    display: flex;
    justify-content: space-between;
    margin: 0 adapt(50) 0 adapt(30);
    height: adapt(656);
    position: relative;
    flex-wrap: wrap;


    &_text {
        z-index: 3;

        &_header {
            font-family: 'Oswald';
            font-weight: 400;
            font-size: adapt(60);
            line-height: adapt(60);
            margin-bottom: adapt(63);
            margin-top: adapt(38);
        }

        &_explanation {
            font-family: 'Arial';
            font-weight: 400;
            font-size: adapt(16);
            line-height: adapt(24);
            color: #444444;

            &_story{
                margin-bottom: adapt(54);
                padding-right: adapt(0);
                // width: adapt(436);
            }
    
            &_table{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                width: adapt(686);
                position: relative;
                z-index: 2;

                &_cell1{
                    order: 1;
                }
                &_cell2{
                    order: 2;
                }
                &_cell3{
                    order: 5;
                }
                &_cell4{
                    order: 6;
                }
                &_cell5{
                    order: 3;
                    text-align: right;
                    width: adapt(262);

                }
                &_cell6{
                    order: 4;
                    text-align: left;
                    width: adapt(62);
                }

                &_cell1, &_cell2{
                    font-family: 'Oswald';
                    font-weight: 400;
                    font-size: adapt(30);
                    line-height: adapt(57);
                    text-align: center;
                    color: #000000;
                    border: 1px solid #CDCDCD;
                    width: adapt(162);
                    height: adapt(77);
                    width: adapt(162);
                }

                &_cell3, &_cell4{
                    font-family: 'Arial';
                    font-weight: 400;
                    font-size: adapt(16);
                    line-height: adapt(16);
                    text-align: center;
                    color: #444444;
                    background-color: #FFFFFF;
                    padding: 0 adapt(3);
                }

                &_cell3{
                    position: absolute;
                    top: adapt(64);
                    left: adapt(41);
                    background-color: #ffffff;
                }

                &_cell4{
                    position: absolute;
                    top: adapt(68);
                    left: adapt(216);
                    background-color: #ffffff;
                }

                &_cell5, &_cell6{
                    margin-top: adapt(25);
                    font-family: 'Oswald';
                    font-weight: 400;
                    font-size: adapt(25);
                    line-height: adapt(25);
                    // text-align: center;
                    text-transform: uppercase;
                    color: #000000;
                }
            }
        }
    }

    &_picture {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: space-between;
        margin-top: adapt(59);
        
        &_cat{
            width: adapt(668);
            height: adapt(536);
            z-index: 2;
            display: flex;
            position: relative;
        }

        &_cat1, &_cat2{
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            
            img{
                width: 100%;
                height: 100%;
            }
        }

.hidden_cat{
    // width: 0px;
    // visibility: hidden;
    // transform: scale(0, 0);
    opacity: 0;
    transition-duration: 4s;
}

.unhidden_cat{
    opacity: 1;
    // transform: scale(1, 1);
    transition-duration: 4s;
}

        &_scrool{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: adapt(55);

            &_line{
                background: #ffffff;
                width: adapt(428);
                height: adapt(34);
                border-radius: adapt(17);
                position: relative;
                border-color: #CDCDCD;
                z-index: 2;
                display: flex;
                justify-content: space-around;
                align-items: center;
                
                &_before, &_after{
                    border-radius: adapt(12);
                    width: adapt(200);
                    height: adapt(24);
                }
            }

.scrool_active{
        background: #68B738;
        transition-duration: 2s;

}

            &_text{
                font-family: 'Oswald';
                font-weight: 400;
                font-size: adapt(20);
                line-height: adapt(30);
                text-transform: uppercase;
                margin: 0 adapt(10);
                z-index: 2;
            }

        }
    }

    &_background{
        background: #EAEAEA;
        width: adapt(768);
        height: adapt(462);
        position: absolute;
        bottom: adapt(-400);
        right: adapt(0);
        left: adapt(-30);
        z-index: 1;
    }
}

.location{
    margin-top: adapt(400);
    height: adapt(387);
    width: adapt(768);
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &_map{
        width: auto;
        height: auto;
        order: 2;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        left: adapt(-326);

    }
    
    &_pin{
        position: absolute;
        top: adapt(145);
        left: adapt(375);
        width: adapt(113);
        height: adapt(106);
    }

    &_message{
        
        // top: adapt(100);
        // left: adapt(100);
        font-family: 'Oswald';
        font-weight: 400;
        font-size: adapt(30);
        text-transform: uppercase;
        background: #FFFFFF;
        color: #111111;

        padding-left: adapt(0);
        opacity: 1;
        order: 1;
        position: static;
        width: adapt(768);
        height: adapt(150);
        line-height: adapt(150);
        text-align: center;
        }
}

.footer {
    width: 100%;
    height: adapt(149);
    background: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_logo {
        width: adapt(128);
        height: adapt(24);
        margin-left: adapt(30);
    }

    &_sm {
        width: adapt(129);
        height: adapt(33);
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_f {
            width: adapt(28);
            height: adapt(33);
        }
    
        &_i {
            width: adapt(23);
            height: adapt(23);
        }
        
        &_v {
            width: adapt(30);
            height: adapt(22);
        }

    }

    &_signature {
        font-family: 'Arial';
        font-weight: 400;
        font-size: adapt(14);
        line-height: adapt(16);
        color: #444444;

        margin-right: adapt(50);
        width: 25%;
    }

    a{
        text-decoration: underline;
    }
}

img{
    // width: 100%;
    // height: 100%;
    width: auto;
    height: auto;
}