@use "sass:math";

@function adapt($px) {
    $result1: math.div($px, 320) * 100;
    $result2: $result1 + vw;
    @return $result2;
};

.wrapper{
    width: adapt(320);
    background: #FFFFFF;
}

.navigation{
    width: adapt(280);
    position: static;
    margin-left: adapt(20);
    margin-right: adapt(20);
    margin-top: adapt(11);
    display: flex;
    margin-bottom: adapt(17);

    
    &_mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &_logo{
            width: adapt(34);
            height: adapt(38);
        }

        &_text{
            width: adapt(101);
            height: adapt(18);
        }

        &_menu{
            width: adapt(27);
            height: adapt(20);
            position: relative;

            &::before{
                content: '';
                position: absolute;
                top: 0;
                width: adapt(27);
                height: adapt(2);
                background-color: #000000;
                transition-duration: 1s;
            }

            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                width: adapt(27);
                height: adapt(2);
                background-color: #000000;
                opacity: 1;
                transition-duration: 1s;
            }

            span{
                position: absolute;
                top: adapt(9);
                height: adapt(2);
                width: adapt(27);
                background-color: #000000;
                transition-duration: 1s;

            }
        }
    }
    
    &_menu{
        z-index: 3;
        text-align: center;
        width: 100%;
        height: adapt(155);
        position: absolute;
        right: 0;
        top: adapt(-325);
        display: block;
        font-size: adapt(20);
        line-height: adapt(50);
        color: #000000;
        background-color: #65a93c;
        transition-duration: 1s;
        // & a:hover{
        //     opacity: 0.6;
        // }
    }
}

div.burgerOpen{

    span{
        opacity: 0;
        transition-delay: 0.3s;
    }
}


div.burgerOpen::after{
    transform: rotate(45deg);
    bottom: adapt(9);
    transition-duration: 1s;

}

div.burgerOpen::before{
    transform: rotate(-45deg);
    top: adapt(9);
    transition-duration: 1s;
}

.navigation_menu.burgerOpen{
    top: adapt(56);
    transition-duration: 1s;
}




.header {
    height: adapt(284);
    width: adapt(320);
    // width: 100%;
    margin-left: adapt(0);
    position: relative;
    z-index: 2;

    &_left {
        height: adapt(284);
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;


        form{
            width: adapt(320);
        }
    }

    &_right {
        position: absolute;
        left: 0;
        right: 0;
        width: adapt(320);
        height: adapt(305);
        display: block;
        z-index: -1;


        &_image{
            display: block;
            width: 100%;
        }
    }

    &_logo {
        display: none;
        // position: absolute;
        // left: adapt(-87);
        // top: adapt(-100);
        // height: adapt(52);
        // width: adapt(174);

        img{
            width: 100%;
            height: 100%;
        }
     }
}

.head {

    &_title {
        position: static;
        width: adapt(200);
        margin: adapt(26) adapt(60);
        height: adapt(72);
        // position: absolute;
        // left: adapt(190);
        // top: adapt(223);
        // font-family: 'Oswald';
        // font-style: normal;
        // font-weight: 400;
        font-size: adapt(36);
        line-height: adapt(36);
        color: #ffffff;
        text-align: center;
    }

    &_subtitle {
        position: static;
        width: adapt(200);
        margin: 0 adapt(60);
        height: adapt(64);
        line-height: 100%;
        // position: absolute;
        // left: adapt(190);
        // top: adapt(373);
        // min-height: adapt(60);
        // font-family: 'Oswald';
        // font-style: normal;
        // font-weight: 400;
        font-size: adapt(14);
        text-align: center;
        // text-transform: uppercase;
        color: #ffffff;
    }

    &_button {
        position: static;
        padding: adapt(14) adapt(26);
        gap: adapt(4);
        // position: absolute;
        width: adapt(280);
        height: adapt(54);
        // left: adapt(190);
        // top: adapt(455);
        // text-transform: uppercase;
        // background: #68B738;
        // font-family: 'Oswald';
        // font-style: normal;
        // font-weight: 400;
        font-size: adapt(14);
        // color: #FFFFFF;
        z-index: 2;
        margin: adapt(302) adapt(20) adapt(20) adapt(20);

    }

    &_button:hover{
        background: #4b8825;
    }

}
.main {

    &_img {
        position: absolute;
        width: adapt(280);
        height: adapt(270);
        left: adapt(20);
        top: adapt(180);
        z-index: 1;

        img{
            width: 100%;
            // height: 100%;
        }
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: adapt(230) adapt(20) adapt(0) adapt(20);
    perspective: adapt(320);
    height: adapt(552);

    &_wrapper{
        position: relative;
        transform-style: preserve-3d;
        transition-duration: 1s;
        height: adapt(266);
        margin: 0;

    &:first-child{
        margin-bottom: adapt(20);
    }


        &:hover{
            .cards_item_front, .cards_link {
                z-index: -1;
                background-color: #F2F2F2;
            }
    }
        
        &_clicked {
            transform: rotateY(180deg);
            .cards_item_front{
            z-index: -1;
            }
        }
    }

    &_item_front {
        width: 100%;
        height: adapt(266);
        background: #F2F2F2;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        backface-visibility: hidden;
    }

    &_item_back{
        position: absolute;
        left: adapt(0);
        top: 0;
        // width: 100%;
        height: adapt(266);
        transform: rotateY(180deg);
        backface-visibility: hidden;
        // overflow: hidden;

        img{
            // float: none;
            // width: 100%;
            // height: adapt(266);
            width: adapt(278);
            object-fit: cover;
        }
    }

    &_header {
        font-weight: 400;
        font-size: adapt(24);
        line-height: adapt(37);
        margin-top: adapt(30);
        text-transform: uppercase;
        color: #000000;
    }

    &_text {
        margin: adapt(20);
        font-family: 'Arial';
        font-weight: 400;
        font-size: adapt(14);
        line-height: adapt(18);
    }

    &_link {
        margin-top: adapt(0);
        margin-left: adapt(19);
        margin-bottom: adapt(18);
        width: adapt(134);
        font-weight: 400;
        font-size: adapt(16);
        line-height: adapt(24);     
        text-align: left;
        text-transform: uppercase;
        color: #000000;
        position: relative;

        &::after{
            content: '';
            background: url(../img/icon.png) no-repeat;
            background-size: cover;
            width: adapt(24);
            height: adapt(12);
            display: inline-block;
            position: absolute;
            top: adapt(8);
            left: adapt(106);
        }
    }

    &_img{
        margin: adapt(24) adapt(20) adapt(0) adapt(13);
        // object-position: 50% 50%;
    }

    .img_slim{
        width: adapt(50);
        height: adapt(53);
    }

    .img_pro{
        width: adapt(67);
        height: adapt(50);
    }
}

.instructions {

    &_header {
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 400;
        font-size: adapt(36);
        line-height: adapt(40);
        text-align: left; 
        margin: adapt(27) 0 adapt(38) adapt(20);
    }

    &_wrapper {
        margin: 0 adapt(20) 0 adapt(20);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: adapt(300);
    }

    &_item {
        width: adapt(270);
        height: adapt(60);
        position: relative;
        z-index: 2;
        display: flex;

    }

    &_image {
        width: adapt(60);
        height: adapt(60);
        flex-shrink: 0;
        margin-bottom: adapt(20);
        margin-right: adapt(20);
        img{
            width: 100%;
            height: 100%;
        }
    }

    &_text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: adapt(14);
        padding-right: adapt(0);
        line-height: adapt(20);
        color: #444444;
        z-index: 3;
        display: flex;
        align-items: center;
    }

    &_number {
        display: none;
        color: #F2F2F2;
        font-size: adapt(280);
        line-height: adapt(280);
        position: absolute;
        right: 0;
        bottom: adapt(30);
        margin-bottom: adapt(11);
        z-index: -1;
    }
}

.example {
    display: flex;
    justify-content: space-between;
    margin: 0 adapt(20) 0 adapt(20);
    height: adapt(705);
    position: relative;
    flex-wrap: wrap;


    &_text {
        z-index: 3;

        &_header {
            font-family: 'Oswald';
            font-weight: 400;
            font-size: adapt(36);
            line-height: adapt(36);
            margin-bottom: adapt(33);
            margin-top: adapt(69);
        }

        &_explanation {
            font-family: 'Arial';
            font-weight: 400;
            font-size: adapt(14);
            line-height: adapt(18);
            color: #444444;

            &_story{
                margin-bottom: adapt(26);
                padding-right: adapt(0);
                // width: adapt(436);
            }
    
            &_table{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                width: adapt(280);
                position: relative;
                z-index: 2;

                &_cell1{
                    order: 1;
                }
                &_cell2{
                    order: 2;
                }
                &_cell3{
                    order: 3;
                }
                &_cell4{
                    order: 4;
                }
                &_cell5{
                    order: 5;
                    text-align: right;
                    width: adapt(135);

                }
                &_cell6{
                    order: 6;
                    text-align: left;
                    width: adapt(135);
                }

                &_cell1, &_cell2{
                    font-family: 'Oswald';
                    font-weight: 400;
                    font-size: adapt(24);
                    line-height: adapt(57);
                    text-align: center;
                    color: #000000;
                    border: 1px solid #CDCDCD;
                    width: adapt(124);
                    height: adapt(64);
                }

                &_cell3, &_cell4{
                    font-family: 'Arial';
                    font-weight: 400;
                    font-size: adapt(12);
                    line-height: adapt(12);
                    text-align: center;
                    color: #444444;
                    background-color: #FFFFFF;
                    padding: 0 adapt(3);
                }

                &_cell3{
                    position: absolute;
                    top: adapt(56);
                    left: adapt(30);
                    background-color: #EAEAEA;
                }

                &_cell4{
                    position: absolute;
                    top: adapt(56);
                    left: adapt(188);
                    background-color: #EAEAEA;
                }

                &_cell5, &_cell6{
                    margin-top: adapt(25);
                    font-family: 'Oswald';
                    font-weight: 400;
                    font-size: adapt(14);
                    line-height: adapt(20);
                    // text-align: center;
                    text-transform: uppercase;
                    color: #000000;
                }
            }
        }
    }

    &_picture {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: space-between;
        margin-top: adapt(42);
        
        &_cat{
            width: adapt(280);
            height: adapt(232);
            z-index: 2;
            display: flex;
            position: relative;
        }

        &_cat1, &_cat2{
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            
            img{
                width: 100%;
                height: 100%;
            }
        }

.hidden_cat{

    opacity: 0;
    transition-duration: 4s;
}

.unhidden_cat{
    opacity: 1;
    transition-duration: 4s;
}

        &_scroll{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: adapt(55);

            &_line{
                background: #ffffff;
                width: adapt(160);
                height: adapt(16);
                border-radius: adapt(8);
                position: relative;
                border-color: #CDCDCD;
                z-index: 2;
                display: flex;
                justify-content: space-around;
                align-items: center;
                
                &_before, &_after{
                    border-radius: adapt(6);
                    width: adapt(74);
                    height: adapt(12);
                }
            }

.scroll_active{
        background: #68B738;
        transition-duration: 2s;

}

            &_text{
                font-family: 'Oswald';
                font-weight: 400;
                font-size: adapt(16);
                line-height: adapt(20);
                text-transform: uppercase;
                margin: 0 adapt(10);
                z-index: 2;
            }

        }
    }

    &_background{
        background: #EAEAEA;
        width: adapt(320);
        height: adapt(677);
        position: absolute;
        bottom: adapt(0);
        right: adapt(0);
        left: adapt(-20);
        z-index: 1;
    }
}

.location{
    margin-top: adapt(0);
    height: adapt(476);
    width: adapt(320);
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    // &_map{
    //     width: auto;
    //     height: auto;
    //     order: 2;
    //     margin-left: auto;
    //     margin-right: auto;
    //     position: absolute;
    //     left: adapt(-326);
    // }
    
    &_pin{
        position: absolute;
        top: adapt(245);
        left: adapt(135);
        width: adapt(57);
        height: adapt(53);

    }

    &_message{
        
        // top: adapt(100);
        // left: adapt(100);
        font-family: 'Oswald';
        font-weight: 400;
        font-size: adapt(16);
        text-transform: uppercase;
        background: #FFFFFF;
        color: #111111;

        padding-left: adapt(0);
        opacity: 1;
        order: 1;
        position: static;
        width: adapt(320);
        height: adapt(114);
        line-height: adapt(114);
        text-align: center;
        }

        iframe{
            width: adapt(320);
            height: adapt(362);
            order: 2;
        }

        .hidden_pin{
            display: none;
        }
        
        .unhidden_pin{
            display: block;
        }

}

.footer {
    width: 100%;
    height: adapt(236);
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &_logo {
        padding-top: adapt(39);
        padding-bottom: adapt(32);
        padding-left: adapt(96);
        width: adapt(320);
        height: adapt(95);
        margin-left: 0;

        img{
            width: adapt(128);
            height: adapt(24);
        }
    }

    &_line{
        width: adapt(280);
        border-top: 1px solid #D9D9D9;
    }

    &_sm {
        width: adapt(129);
        height: adapt(63);
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_f {
            width: adapt(22);
            height: adapt(22);
        }
    
        &_i {
            width: adapt(16);
            height: adapt(16);
        }
        
        &_v {
            width: adapt(23);
            height: adapt(16);
        }

    }

    &_signature {
        font-family: 'Arial';
        font-weight: 400;
        font-size: adapt(8);
        line-height: adapt(78);
        color: #444444;

        margin-right: adapt(0);
        width: 90%;
        margin-bottom: adapt(0);
        text-align: center;
    }

    a{
        text-decoration: underline;
    }
}

img{
    // width: 100%;
    // height: 100%;
    width: auto;
    height: auto;
}